[2015-11-28 16:04] SilverJellicle opened #2 "this is very cool."
I'm glad I found what I was looking for.

[2015-11-28 18:12] karpathy commented on #2
haha thank you. Closing the "issue" :)

[2015-11-28 18:12] #2 closed

[2015-11-30 00:18] ffmpbgrnn opened #3 "Any plans for adding feature of showing number of citations?"

[2015-11-30 00:39] karpathy commented on #3
this is not currently part of returned information from arxiv, which makes it tricky information to obtain. If you have ideas I'd be happy to hear them

[2015-11-30 01:04] ffmpbgrnn commented on #3
Get citations from Google Scholar, save them as meta just like another attributes, and update citations every month? [scholar.py](https://github.com/ckreibich/scholar.py) provides simple APIs.

[2015-11-30 05:35] karpathy commented on #3
cool, i got it running. I'll add this in next release, thanks for the idea.

[2015-12-02 07:22] rsarxiv opened #5 "maybe you can use elasticsearch to index papers"
elasticsearch is easy to use, to index your data, and it provides a RESTful API.

[2015-12-05 06:15] andreas-bulling opened #7 "Any plans for adding feature of commenting on papers?"
Would be great, e.g. for research groups to discuss papers/add comments/thoughts/etc

[2015-12-05 06:18] andreas-bulling opened #8 "Any plans for adding feature of voting (e.g. like/dislike) for papers?"
Again, would be nice to be able to rank/sort papers in a distributed fashion, e.g. among members of a research group. The more likes a paper collects the more likely it is to be discussed in the next reading group or the like.

[2015-12-05 06:19] karpathy commented on #7
yes, I think more generally a social layer overlay over the site could be interesting and is on my mind as a potential feature going forward.

[2015-12-05 06:20] andreas-bulling opened #9 "mention poppler dependency in readme"
poppler is required for the pdftotext dependency and should IMHO be mentioned in the readme

[2015-12-05 06:20] karpathy commented on #8
I see, you're imagining a within-a-group system, so these would not be visible to general visitor of the site, only to people of some group.

[2015-12-05 06:28] andreas-bulling commented on #8
I was indeed but this could be very nice also for a public system, extending towards a reviewing interface
maybe similar to http://theoj.org/

[2015-12-05 06:30] andreas-bulling commented on #7
Didn't think of something particularly complex. General comments could be good first step, next step could be to implement something similar to http://theoj.org/

[2015-12-05 06:30] andreas-bulling commented on #8
I was indeed but could also be interesting as a feature for a public site

[2015-12-05 06:34] andreas-bulling commented on #7
Let's see - I'll try to get started on the comment functionality if I find some time at the weekend.

[2015-12-05 06:35] karpathy commented on #7
I would encourage you not to :) I think I have to do some sweeping changes in the guts of the project because it's not laid out in a way that makes it easy to add recent papers. I suspect I'll have to change quite a few things. Also now that I decided I want this project to be legitimate I'd like to make sure the scripts are not quick hacks but something that flows. In other words, major changes c

[2015-12-05 06:38] andreas-bulling commented on #7
Alright ;)

[2015-12-09 09:19] Tuzoff opened #12 "Stemming, ELK"
I notice you started accepting pull requests. I'm adding stemming now. Prepare for you to merge when it's done?

Also I put the data into dockerized ElasticSearch/Kibana (similar to @rsarxiv suggestion). Just several lines of code and you've got a nice Kibana GUI for exploration. Found some interesting insights there. Interested in this as well? But it likes good disks, preferably SSD, for indexin

[2016-01-11 12:29] XiaotongNi opened #15 "Any plan for including other fields? (and some suggestion about social features)"
I'm from the quantum information field and would be interested to use a similar service.

By the way, we have a crowd-rating website for arXiv papers https://scirate3.herokuapp.com/
It might be interesting to combine these two features.

[2016-01-31 08:40] soupault opened #17 "Add ontology / connections graph visualization"
Hi!
I was recently thinking about similar service!
What do you think about ontology/connections graph visualization option?

[2016-01-31 09:30] MartinThoma commented on #8
@andreas-bulling I think that would only be interesting if you could see who was voting (e.g. by connecting to http://orcid.org/). A vote by random people from the internet is probably not worth so much whereas votes by Hinton, Bengio, LeCun in deep learning would be worth a lot more.

A similar idea would be to get reviews. Sites I have heard about (but not used so far) are:

* https://publons.co

[2016-01-31 10:04] MartinThoma commented on #7
For the comments, https://disqus.com/ might be the easiest way.

[2016-02-24 22:26] pgericson commented on #8
@MartinThoma You mean e.g. use the [h-index](https://scholar.google.dk/intl/en/scholar/metrics.html#metrics) from Google Scholar to use as the weight on the vote?

[2016-02-26 06:59] karpathy commented on #15
I wasn't able to access this url, but I'd love to see arxiv sanity help quantum information field. Have you tried running it?

[2016-02-26 10:36] XiaotongNi commented on #15
Try https://scirate.com ("https://scirate3.herokuapp.com" is the redirected address before)

Haven't tried to run the code. I'm still quite new to Python + no good computer :(

[2016-02-26 14:07] MartinThoma commented on #8
@pgericson I was rather thinking of just the possibility to get a list of who has voted (similar to facebook likes). However, I think not showing the number of people who have voted but a h-index weighted score would be much better.

[2016-03-08 18:42] ibab opened #20 "Add Mathjax/KaTeX to display math content"
As the text already contains `$` and LaTeX code everywhere, it should be quite simple to display it properly using mathjax, or the very cool [KaTeX](https://khan.github.io/KaTeX/).

Mathjax instructions: https://docs.mathjax.org/en/v2.6-latest/start.html
KaTeX instructions: https://github.com/Khan/KaTeX/blob/master/contrib/auto-render/README.md

See here for a version of the sanity-preserver that

[2016-03-10 03:42] karpathy commented on #20
Very nice to see that you got it running!! Thanks for the links, I might incorporate sometime when I can steal some time.

[2016-03-19 16:29] francisr opened #21 "More than 20 papers in "Most recent""
Papers often arrive in batches, or sometimes I can't check them for a few days. It would be nice to be able to see a chronological list than spans maybe a week.

[2016-03-20 06:16] syed-ahmed opened #22 "Would it be useful to have an extension to this project where you can see the ancestors and predecessors of a research paper?"
For instance, I'm reading this paper and I see it referred to ideas from previously published papers. I want to put this paper as a child of those research papers and maintain a tree so that I can keep track of the ideas from the paper in a systematic manner to aid my research. In other words, I want to visualize the path of knowledge that flows from one research paper to another.

[2016-03-20 06:19] karpathy commented on #22
I think your'e referring to something along lines of what I did with Research Lei a while ago:
http://cs.stanford.edu/people/karpathy/researchlei/

basically for every paper there were (on left) all papers that it cites, and also (on right) all papers that cite it, sorted by various things, including author names. This was a nice way to see the evolution.

Problem here is that it's tricky to extra

[2016-03-20 06:42] syed-ahmed commented on #22
I stumbled upon your project and then read the microsoft api got shut down... It would have been awesome if those bibliography could come in a RESTful api. What do you mean by L2 similarities?

[2016-03-20 18:02] karpathy commented on #8
Upvoting of papers is now implemented as people adding papers to their library. There will be no downvoting. Closing issue.

[2016-03-20 18:02] #8 closed

[2016-03-20 18:03] karpathy commented on #3
It turns out Google **REALLY** does not want you scraping scholar, and rate limits aggressively. This feature is impossible for now. Closing issue.

[2016-03-20 18:03] #3 closed

[2016-03-20 18:04] karpathy commented on #5
Thank you for suggestion, it doesn't seem like a good fit right now. Closing.

[2016-03-20 18:04] #5 closed

[2016-03-20 18:06] karpathy commented on #17
I think people like looking at graphs but they are ultimately very difficult to navigate as a tool. They are eye candy, not something productive or very useful. Closing for now.

[2016-03-20 18:06] #17 closed

[2016-03-21 05:11] rsarxiv opened #23 "arxiv paper ios app"
I'm writing an ios app named RSarXiv, it aims to recommend arxiv papers based on user's behavior.
Maybe u can try it.
It's my great honor if you can give me some advices.
You can search **rsarxiv** to get the app in app store.
thanks a lot

[2016-03-21 18:21] moon05 commented on #22
Do you think we could start working on it?

[2016-03-22 03:22] karpathy commented on #21
good idea, i'm not happy with the "front page" of arxiv-sanity right now. i'll think of something.

[2016-03-24 19:42] karpathy commented on #20
Added this suggestion with the most recent commit. Thank you!

[2016-03-24 19:42] #20 closed

[2016-03-26 21:55] asmith26 opened #26 "Feature Requests/Suggestions"
Some feature requests/suggestions:
- The ability to add/rename/delete folders in my library.
- Add personal notes to papers.
 - Similarly, allow user discussions on specific papers (or links to e.g. the [reddit discussions](https://www.reddit.com/r/MachineLearning/))
- Add links to paper code/GitHub (similar to [GitXiv](http://gitxiv.com/)) and other related links (e.g. [YouTube demo](https://www.

[2016-03-26 22:18] karpathy commented on #26
I am against most of these changes as of now. Comments sound great in theory but I think are terrible in practice. You'll get stuff like this happening:

http://gitxiv.com/posts/CLLSLp8cprcbpayCn/generating-images-from-captions-with-attention

if done at all I will want to do it very carefully, and I haven't yet figured out the correct approach.

[2016-03-27 00:46] Moredread opened #27 "ImageMagick as dependency is not listed in README"
Hi,

ImageMagick is needed for the thumbnail creation, but is not listed in the readme.

[2016-03-29 01:05] karpathy commented on #27
thanks, resolved.

[2016-03-29 01:05] #27 closed

[2016-03-29 10:09] pommedeterresautee opened #29 "Would it make sense to add LSA/LDA vec to TF IDF representation?"
I was wondering if using both a topic vector (LSA/LDA based, or even paragraph2vec...) plus tf idf would improve results.
Topic vector would be added to tf idf with a low weight so common words (with high tfidf weight) are very important, but topic would be taken into account to probably affect document order.

What do you think?

[2016-03-31 11:52] plus13 opened #31 "Can not start webserver. No such table in database."
Hi, sorry for my poor bug report. I'm new with github und such.
I'm trying to use your program with two topics in the astrophysics domain.
Everything processed fine until the webserver-like thing tries to read some tables.

~/arxiv-sanity-preserver ❯❯❯ ./venv/bin/python serve.py --prod
/$HOME/arxiv-sanity-preserver/venv/lib/python2.7/site-packages/flask_limiter/extension.py:124: UserWarning: Use o

[2016-03-31 16:52] karpathy commented on #31
Oh sorry! I think this is not well documented. Can you try `sqlite3 as.db < schema.sql` ? this initializes the database, which looks to be missing for you right now.

[2016-03-31 22:45] plus13 commented on #31
Worked for me. Thank you!

[2016-03-31 22:48] karpathy commented on #31
Great to hear! Closing the issue and will push a Readme patch addressing this. Thanks and I hope your arxiv-sanity fork in astrophysics works nicely!

[2016-03-31 22:48] #31 closed

[2016-04-03 11:42] robertostling opened #32 "System for sharing libraries"
This is a great tool, and I was thinking about extending it with paper archives beyond arXiv. But if everyone set up their own version of arxiv-sanity, the benefit of having access to other users' libraries for the recommendation system disappears.

Would you consider a system for exporting the library database? I guess something as simple as providing a regular static dump of DOI sets correspondi

[2016-04-04 21:42] karpathy commented on #32
The entire database is stored inside `as.db`, so it is easy to ship around different arxiv sanity forks.

[2016-04-04 21:42] #32 closed

[2016-04-05 18:26] Moredread opened #33 "Hosting "fork" for physics categories"
I'm started indexing some of the Physics categories. My plan is to cover all of them, but I've started with physics.\* and astro-ph.\* for now.

The site is currently hosted at http://physics.arxiv-sanity.nolife.de/

I'd be wiling to host it long term, if you want to focus on the already covered categories. Alternatively I could forward the PDFs, thumbnails and extracted texts to you, if you want

[2016-04-05 22:29] karpathy commented on #33
Hi @Moredread looks great! I'm not interested in hosting this right now personally. I think I rather prefer having arxiv-sanity per small community, so that "top" papers make sense, for example.

I don't have strong opinions on the domain names. Looks good and keep me in the loop on how it goes!

[2016-04-06 08:18] Moredread opened #34 "PDF link goes to article page, not the PDF"
The PDF link on articles goes to the article page, not the PDF. Is this per design?

[2016-04-06 16:15] karpathy commented on #34
it was but i think i'll change it to go direct to pdf.

[2016-04-07 02:27] karpathy commented on #34
Fixed with latest commit. Closing issue. Thanks!

[2016-04-07 02:27] #34 closed

[2016-04-18 16:54] Moredread opened #35 "Analyzing uses to much memory"
Hi,

I'm not sure if this is normal, but analyzing a corpus of 800MB (ca. 16000 articles) runs out of memory on my machine with 8GB of RAM + 2GB of swap. Can someone with a background in data analysis judge if this is expected?

This might be the main issue for me to scale the database for the physics section of ArXiV, as I only have run the analysis on a small portion of it (less than a year for

[2016-04-18 20:26] francisr commented on #21
The new front page is quite good.

[2016-04-18 20:26] #21 closed

[2016-04-18 23:26] karpathy commented on #35
Try decreasing the number of words for the bigrams, right now it's 20,000 but you can probably get away with much less, e.g. 10,000 for a reasonable performance.

[2016-04-28 03:59] Moredread commented on #35
That helps a bit, but not enough to stay under 8GB. Gladly I have a bit more available on another machine.

[2016-04-28 03:59] Moredread commented on #33
I'ver registered and set up http://arxiv-sanity-physics.com/ in the mean time.

[2016-04-28 04:08] karpathy commented on #33
nice! looks great! :)

[2016-05-02 17:56] kgourgou commented on #15
Hi @karpathy,

I have run  the arxiv sanity for math.NA and math.PR, and it's great. Any plans on adding those or should I look into independently hosting them? :smile:

[2016-05-02 19:51] karpathy commented on #15
hi, yes for now you'd have to host yourself, since it's a bit expensive to compute already. sorry about that!

[2016-05-03 03:24] kgourgou commented on #15
Not a problem, thanks.

[2016-05-22 23:21] bskaggs opened #37 "Add a LICENSE file, please."
Is arxiv-sanity-preserver under an open source license?  Can we [make modifications and contribute back](https://help.github.com/articles/open-source-licensing/#what-happens-if-i-dont-choose-a-license)?

[2016-05-23 18:31] karpathy commented on #37
yes it's MIT license

[2016-06-08 18:29] Houshalter opened #39 "cs.AI"
[This recent deepmind paper](https://arxiv.org/abs/1606.01868) doesn't appear in arxiv-sanity. I believe it's because it's listed under cs.AI, which isn't indexed by arxiv-sanity.

This is a bit strange as it seems relevant to the other categories included in arxiv-sanity. This particular paper could have just as easily been posted in stat.ML or cs.LG.

[2016-06-08 19:06] karpathy commented on #39
thank you for raising the issue. I'll see if i can fix.

[2016-06-23 18:18] jrbtaylor commented on #26
Alternative or in addition to the above suggestion of folders in your library, a "Mark as read" option would be nice. Upon first using arxiv-sanity just now (this is great - Thanks!), I added 46 papers to my library as my reading queue - a "mark as read" option would allow me to work through them in whatever order I find most useful without forgetting where I am.

[2016-07-02 06:29] aie0 opened #44 "add support for http://www.jmlr.org/"
Can the support for http://www.jmlr.org/ papers be added?

[2016-07-29 13:29] sterraf commented on #26
Hi, I program (awfully) in some languages and I'm new here to GitHub. Thanks for your work.

**Question:** Is there some mechanism to clean the `pdf` folder? I have not read the code thoroughly    but in any case I ran it and pdf are never erased. I imagine that after analyzing and creating the thumbnails you won't need them anymore, do you? In that case, this could be a space-saving feature.

Sor

[2016-08-05 18:24] hans opened #45 "Integrate with Short Science / GitXiv"

[2016-08-06 17:51] ieee8023 commented on #45
I'm from ShortScience.org. We can add a link to http://www.arxiv-sanity.com/ARXIVID for every arxiv paper. I think we can also add a link to save it on arxiv-sanity. We can also add the page images under the title on ShortScience.org. We are open to ideas.

Papers can be looked up by a GET request to http://www.shortscience.org/paper?bibtexKey=ARXIVID It will return an HTTP 200 status only if ther

[2016-08-07 20:26] karpathy commented on #45
Hi Joseph, I like what ShortScience is doing! I wanted to review my very first paper (in ACL) on [WikiReading](http://www.aclweb.org/anthology/P/P16/P16-1145.pdf) there today but unfortunately it's not in database :(

That aside, I'd be happy to integrate with ShortScience.org. arxiv-sanity uses a very simple URL scheme, e.g. `http://www.arxiv-sanity.com/1603.05279`. The value proposition here is

[2016-08-10 04:26] ieee8023 commented on #45
Thanks!

The WikiReading paper is not in any of the data providers that we are using yet because it is so new. If it had a DOI or if it was on arXiv it would show up. We are working on allowing users to add papers but it is going very slow. I added it manually: http://www.shortscience.org/paper?bibtexKey=hewlettwikireading

There is now an arxiv-sanity.com link on every arXiv paper: http://www.sho

[2016-08-12 00:43] ieee8023 commented on #45
This endpoint is live now: http://www.shortscience.org/rss-all.xml

If the summary is from an arXiv paper it will have an extra tag "shortscience:arxivid" that contains the arXiv id!

[2016-08-18 22:46] karpathy commented on #45
completed a very simple integration that links to the shortscience page for each paper. don't have time for more at the moment. thanks! closing for now.

[2016-08-18 22:46] #45 closed

[2016-08-23 04:30] ieee8023 commented on #45
Couldn't sleep so I added a popover when the mouse hovers over the arxiv-sanity link. I'm linking to the images on arxiv-sanity. Let me know if you don't want images linked like this and I can get rid of it.

<img width="769" alt="screen shot 2016-08-23 at 12 21 33 am" src="https://cloud.githubusercontent.com/assets/446367/17880369/017c32be-68c8-11e6-8ed9-27e3e0c40768.png">

[2016-09-08 15:25] michaelmior commented on #37
@karpathy Would you mind add a `LICENSE.md` or some mention in the README to make this more explicit?

[2016-09-08 15:27] michaelmior commented on #9
Seems like this has since been added and this can be closed.

[2016-09-08 15:33] michaelmior opened #46 "Use file list instead of database in `analyze.py`"
Would you consider a PR to use the list of txt files in `analyze.py` instead of querying the database? This would make it easier to make use of this script in other contexts. In addition, the script already skips over files when the text doesn't exist anyway. The only way the behaviour should be different is if there are some txt files that were manually placed in the folder for some reason.

[2016-09-15 18:13] michaelmior commented on #33
It would be nice if there were a list of forks somewhere, perhaps on the GitHub README. I just put up [DB Sanity](https://www.db-sanity.com/) yesterday for cs.DB and cs.IR.

[2016-09-21 12:10] Houshalter opened #48 "library not showing my saved papers."
I have saved 74 papers. Yes that is a bit much, but not *that* much. I thought it would help the recommendation algorithm, and also store papers that looked interesting that I might want to read in the future.

Now axiv-sanity refused to show all of my papers. The papers I have saved *most recently* do not appear on the list *at all*. And scrolling down hits "You hit the limit of number of papers

[2016-09-27 17:27] nicola opened #49 "Convert does not work on Mac OS"
Amazing work here!

Unfortunately I can't generate the images:

[code]

while [0-7] should not be part of the file name, instead, the index of pages I want. Any hint?

[2016-11-19 08:35] Immortalin opened #51 "Feature Request: Newsletter"
Can a newsletter feature be added for suggested papers?

[2016-11-25 10:40] RoyiAvital commented on #26
Some features missing:

- Restore Password.
- Search by Arxiv ID.
- Manually chose Arxiv Categories.

Thank You.

[2016-12-26 15:49] mkanwal commented on #39
Fixed via 3cb2f5f41fc2b5295c72a3df9623bd35bfe6bf3e?  But the current website doesn't appear to have this deployed...

[2016-12-26 16:15] mkanwal opened #52 "Feature Request: Expanding to all of arXiv"
How feasible would it be to expand to all categories in arXiv?

Per #33, you mention that it's important to keep communities small so that "top papers" are still relevant.  Couldn't this still be maintained by having a user specify as part of their account which subcategories they work in?  And then top papers for a user would do some sort of cross-category normalization to account for multiple co

[2017-01-12 14:53] alirezasmr opened #54 "Feature Request: Alert for Customized Search Query"
Like Google Alert for search result or citation notification in Google Scholar, but basically, user will be able to set alert for their search query, and upon any new submission that matches that search query, it'll shoot a notification/email.

[2017-01-12 19:42] karpathy commented on #54
yes this is a commonly requested idea. I will look into it.

[2017-01-12 19:45] karpathy commented on #51
A similar idea to the one about notifications on papers a person might like to read. I like it, and will look into setting up the email service. Thank you for the suggestion.

[2017-01-12 19:46] karpathy commented on #39
It's deployed, I just didn't change the website header to correctly report that it was deployed. Will do.

[2017-01-12 19:47] karpathy commented on #44
Not a huge fan of going down the route of supporting all kinds of different journals manually. Closing for now.

[2017-01-12 19:47] #44 closed

[2017-01-12 19:48] karpathy commented on #37
Done with a recent commit. Marking closed.

[2017-01-12 19:48] #37 closed

[2017-01-12 19:49] karpathy commented on #23
thanks for bringing to attention. closing issue.

[2017-01-12 19:49] #23 closed

[2017-01-12 19:50] karpathy commented on #9
correct. thank you!

[2017-01-12 19:50] #9 closed

[2017-01-13 15:32] mloenow opened #55 "Add SSL/TLS certificate and use secure cookies"
Thanks for making this 💪

I think the site would benefit from having security improved. Unfortunately, people have a tendency to re-use passwords, and as of now, the password and the session cookie can be intercepted on the same network and in man-in-the-middle attacks.

Perhaps you can use [Certbot](https://github.com/certbot/certbot) (Let's Encrypt) for this?

[2017-01-17 07:33] RoyiAvital commented on #52
Moreover, any chance for real time fetching from arXiv?
It seems it takes a day or two for a paper to appear on site.

Thank You.

[2017-01-18 01:30] Moredread commented on #52
Afair papers are mostly released in bulk by arxiv once per day, so downloading more often than that isn't really necessary.

[2017-01-18 06:22] RoyiAvital commented on #52
Take this one for instance:

https://arxiv.org/abs/1701.04018 (CS.cv)

Published few days ago.
Still no on arXiv Sanity - http://www.arxiv-sanity.com/1701.04018.

Anyway to make the fetching part more robust?

[2017-01-18 06:27] karpathy commented on #52
@Moredread @RoyiAvital this is because in current terrible state I have to manually ssh into the box that runs arxiv sanity and run an authentication script & enter password, or my credentials expire after ~3 days. And sometime I forget. I can't find a way to automate this right now, but I'm working on switching AS to longer-term solution anyway.

[2017-01-18 06:34] RoyiAvital commented on #52
@karpathy , I see.

Well, you do wonders with this site, so don't see it as a complain :-).

Thank You.

[2017-01-30 06:56] Randl opened #57 "Recommended papers is empty"
I've registered a week or so ago, added some papers to library, but the recommended papers tab is empty

[2017-02-01 00:27] seandoyle commented on #57
I've been using it for months (it's wonderful) but the last 3 weeks or so I'm not getting new papers. I can still get earlier papers though - have you tried setting the retrieval window to be 1 month or more?

[2017-02-01 02:10] karpathy commented on #57
@seandoyle can you clarify what the issue is? I'm not able to reproduce any problems with my own account, and I have a number of recommended papers over last week/month etc.

[2017-02-01 02:45] seandoyle commented on #57
I'm not sure what the issue is - here's what I observe:
- When I select recommended for one week I get zero hits.  I've been getting zero hits for the last few weeks when I use the 1 week window.
- But when I click on last month - I get a bunch - including one from 1/24. Since today is 1/31 - I would have expected this to show up sometime in the last week but I don't remember seeing it.
- The freq

[2017-02-01 03:07] karpathy commented on #57
I see, I think this is related to the fact that I forget to log in and recompute arxiv-sanity. I have to do this manually every ~2-3 days right now and sometimes I forget. I'm going to move arxiv-sanity to a more permanent location soon and these issues will go away.

[2017-02-07 20:22] karpathy commented on #57
btw I finished the migration today and this should never happen again. If it does, definitely a bug.

[2017-02-08 01:00] seandoyle commented on #57
Works perfectly now. Thank you - this is wonderful.

[2017-02-09 09:44] minzastro opened #58 "Legal?"
Here: https://arxiv.org/help/robots
is the "Robots Beware: Indiscriminate automated downloads from this site are not permitted."
This makes Your code doing what is explicitly forbidden by arxiv.

[2017-02-10 23:05] Moredread commented on #58
IANAL, but using the search API should be OK by https://arxiv.org/help/bulk_data. As we need recent PDFs, "Bulk Full-Text Access" isn't really an option, but PDF downloads are allowed by the robots.txt.

I think the page is mainly targeted at enumerating all pages, or scraping (meta-)data from the webpage, instead of using the provided APIs. Only downloading every PDF might be a grey area I guess.

[2017-02-19 16:31] BenderV commented on #52
@karpathy can you just do something like that?

`0 * * * * . /opt/deep_arxiv/config.sh; python3 /opt/deep_arxiv/scripts/arxiv_paper_fetch.py >> /opt/deep_arxiv/crontab.log`

[2017-02-19 17:21] BenderV opened #60 "Switch to Twitter Stream"
Hi @karpathy,

Few weeks ago, I forked your code to add twitter trends, I end up with a different architecture (wanted something more robust), anyway, I use postgres and sqlalchemy to record twitter stream.

I just open-sourced it so you can use if you want to use it! It's pretty straightforward if you have a postgres db.
=> https://github.com/BenderV/twitter_stream/tree/arxiv

I also have the sam

[2017-02-19 20:17] a455bcd9 opened #61 "cs.IR"
Those paper don't appear in arxiv-sanity:

- https://arxiv.org/abs/1602.01137
- https://arxiv.org/abs/1606.07869

I guess it's because they are listed under cs.IR, which isn't indexed by arxiv-sanity.

This is a bit strange as those papers could have been published under stat.ML or cs.CL.

Do you thing cs.IR could be added to arxiv-sanity?

[2017-02-19 21:52] karpathy commented on #61
hmmm, it is related. hesitant to include more content before i make the website more efficient. Running the ML already takes ~2 hours per day. Ty for suggestion!

[2017-02-20 15:04] a455bcd9 commented on #61
I understand your point, however cs.IR seems to be pretty small compared to other categories, for instance if you look at recent submissions:

Categories already on arxiv-sanity:
- https://arxiv.org/list/cs.CV/recent 60
- https://arxiv.org/list/cs.CL/recent 26
- https://arxiv.org/list/cs.LG/recent 52
- https://arxiv.org/list/cs.AI/recent 38
- https://arxiv.org/list/cs.NE/recent 15
- https://arxiv.

[2017-02-23 15:54] #60 closed

[2017-03-07 04:22] ludwigschubert opened #63 "UI bug with overlapping "Fork me on github" banner"
At certain screen widths the "Fork me on github" banner overlays the paper's PDF button.

*Normal case*:
<img width="269" alt="screen shot 2017-03-06 at 8 18 37 pm" src="https://cloud.githubusercontent.com/assets/1167977/23641640/5a07edb6-02aa-11e7-8aa2-efb4afb2d4e2.png">

*Problematic case*:
<img width="213" alt="screen shot 2017-03-06 at 8 18 45 pm" src="https://cloud.githubusercontent.com/asset

[2017-03-08 05:00] karpathy commented on #63
thanks, noticed this too and fixed it. will push soon too.

[2017-03-08 05:00] #63 closed

[2017-03-08 20:38] jamiesully commented on #58
I think the preferred way to download bulk metadata is using the OAI not API (see https://arxiv.org/help/oa/index). It is actually much easier than running many API requests, especially for larger categories of the arXiv (such as hep-th with ~115,000 entries, which I was able to download in about an hour).

I rewrote a version of 'fetch_papers.py' to fetch the OAI XML and parse it to conform with

[2017-03-08 21:03] karpathy commented on #58
In practice, arxiv-sanity only makes on average about 1-3 API requests to arxiv per day (to fetch the latest papers in the ML categories), so it's nowhere close to spamming their servers with requests.

[2017-03-08 21:04] #58 closed

[2017-03-09 06:09] karelin commented on #58
@jamiesully Please upload the new version. I'm interested and can do some kind of code review/polishing.

@karpathy Andrej, you're talking on daily **updates** of papers on ML categories. But, when one **starts** new arxiv-sanity installation, the load will be much larger, especially for physics-related stuff. Afraid you've closed the issue too soon.

Btw, I expect that is it not fetching metadata

[2017-03-09 16:12] jamiesully commented on #58
Yes, apologies for being unclear. I was considering the case of initializing the database, which requires a lot of calls to the API.

@karelin The files are now up on master branch of the fork I made. There were also some minor tweaks I had to make elsewhere to handle the legacy arxiv IDs of the form 'CAT/XXXXXXX'

[2017-03-09 18:20] karelin commented on #58
@jamiesully  Thanks for update. Try to examine it in a couple of days. And it's very good you've addressed the old Arxiv ID format! Very important for many paper types.

[2017-03-10 14:04] jaroslaw-weber opened #65 "Feature request: mobile view"
currently its very difficult to view the website on mobile. it would be nice to have mobile view.

great project btw.

[2017-03-10 17:46] Moredread commented on #58
@karelin you're right, bootstrapping via the search API is inefficient and slow. Missed that.

[2017-03-29 19:56] rasoolfa opened #68 "Password reset"
Hi Andrej,

Thanks a lot, for your wonderful works and especially your attempt to further democratizing AI.

Quick question: is there any way to reset the password? I looked at the codes and http://www.arxiv-sanity.com/ didn't find any code for that.

Thanks,
Rasool

[2017-03-29 19:57] karpathy commented on #68
nope ^_^. an "account view" is a planned feature, whenever i get the time. a password reset is one thing it could include.

[2017-03-29 20:00] rasoolfa commented on #68
Thanks again :)

[2017-03-30 06:41] RoyiAvital commented on #26
Another feature I think should be added:
 * Link to Code / Git Repository

Many papers have implementations (Official and Un Official) it would be great to add ability to add links (Community driven at first, probably authors will join later).

[2017-03-30 17:41] karpathy commented on #26
@RoyiAvital this exists and several people have been doing it.

[2017-03-30 20:02] RoyiAvital commented on #26
@karpathy , Well I didn't see a place to add links.
Would you mind pointing me there?

Thank You.

[2017-03-30 20:10] RoyiAvital commented on #26
@karpathy , Yes, this is something I know and used.
Great addition by the way (Especially the extra mile with MathJaX).

I meant part of the official links (Like link to arXiv page a link to the Code).

Thank You.

[2017-03-31 15:57] slavakurilyak opened #69 "Top Hype (Last Year and All Time)"
Let's add `Top Hype` papers for `Last Year` and `All Time`

It would be interesting to know how the social media was reacting to papers written last year

[2017-04-11 20:03] vkocaman opened #71 "how to sign up?"
sorry for this silly question but I couldn't find a sign up option.. how can I create an account and log in?

thanks

[2017-04-11 20:12] #71 closed

[2017-04-13 08:45] Foolius opened #72 "Newest papers?"
Right now the most recent paper from arxiv-sanity is from 11th of april while on arxiv there are several new paper since then.
Is there a problem with the refreshment?

[2017-04-13 14:57] Sync-my-L2P opened #73 "Feature Request: Date filter"
It would be really nice to a rudimentary date filter.

[2017-04-13 15:54] karpathy commented on #72
Arxiv-sanity pulls papers every day at ~3am. Some days arxiv doesn't post anything. If there is ever a gap of a few days that would be a cause for alarm.

The problem is that when I pull papers I have to currently recompute all the paper features, everyone's recommendations, etc. I think it might be possible to pull every hour, and only refresh the most recent and the twitter feed or something. I'

[2017-04-20 23:30] zenr opened #74 "Issue installing on my local machine"
Hi

I would like to add an RSS feed to the most recent papers tab. I was trying to setup on my local machine based on the instruction in the README. It failed when I ran analyze.py

[code]

Any idea how to fix it?

Ravi

[2017-04-24 18:19] p-i- opened #75 "Feature Request: Allow searching by arXiv ID e.g. 1412.7210"
Rather surprisingly, putting an ID e.g. `1412.7210` directly into the search field fails to procure the corresponding paper.

[2017-04-28 10:49] Randl commented on #57
Looks like I'm facing the issue once again

[2017-05-02 10:48] seandoyle commented on #57
Yes - I'm having the same symptom again. I don't have any new papers in the last few weeks.  In early April I added a few more papers to my library and the total was ~40. I deleted some of these yesterday in case I had hit a limit or there was something about those papers that was causing the algorithm to fail - but this doesn't seem to be the issue.

[2017-05-08 18:28] Randl commented on #57
ping @karpathy

[2017-05-08 18:39] karpathy commented on #57
sorry, i was on a vacation and memory started exploding on the machine for some reason that I think has to do with mongodb taking over the RAM. I'll have to figure it out later. Resolving now with a hack by making the codes a bit smaller... Should be up and functional again in ~2hrs

[2017-05-10 12:32] mirek opened #77 "Feature request: add/replace abstract with extracted conclusion"
Conclusion section is often more compact and to the point.

It would be great to have 2 summary tabs - "abstract" and "conclusion" (where available) for each paper in the list.

Also default view in general preference with an option to view as default "abstract" or "conclusion" as a summary would be nice.

[2017-05-15 16:07] 3rd3 opened #79 "Top recent 3 days sometimes empty"
http://www.arxiv-sanity.com/top?timefilter=3days&vfilter=all

This view is sometimes empty, just showing the 'load more' button. Might be related to #57.

[2017-05-22 06:15] Randl commented on #57
@karpathy sorry to bother, but looks like it's happening once again. For "top resent" too

[2017-05-22 07:51] karelin commented on #57
@Randl Have you tried to switch to different periods (say, last month or last year). In may case, last day and last 3 days are empty, too, but I don't think it is a bug

[2017-05-22 07:54] Randl commented on #57
@karelin I've never had empty 3-day period except when the bug occurred. The fact that yours is empty too is additional evidence.

Obviously for one-month period there will be papers until one month passes :)

[2017-05-22 16:56] yo-shavit opened #80 "Blocked by arxiv?"
I'm trying to do a study of texts of ML papers, and am using these scripts to acquire paper texts. After running download_pdfs.py (with about 20000 candidate papers acquired using fetch_papers.py) I was seemingly blocked by arxiv after downloading 1201 papers.
Has anyone experienced this sort of rate-limiting, not during fetch_papers but during download_pdfs? I can't access arxiv at all (including

[2017-05-22 16:58] yo-shavit commented on #80
Ok, it reset itself after ~20 minutes and now I can access the site again.
I'm leaving this here as a disclaimer for anyone running download_pdfs.py - arxiv might get angry with you after a while!

[2017-05-22 16:58] #80 closed

[2017-05-22 18:44] karelin commented on #80
Just a note: arXiv.org recommends to use S3 download (payment necessary) for bulk PDF/source access: https://arxiv.org/help/bulk_data_s3

[2017-05-23 00:46] karpathy commented on #57
I think this is happening because no arxiv papers get published over the weekend. So "last 3 days" ends up empty.

[2017-05-23 04:48] karelin commented on #57
I have an idea for this: as the site (both recommendations and main data base) are updated 'offline', perhaps the header of the main page could contain the "last updated" dates?

[2017-05-23 13:56] Randl commented on #57
@karpathy  Well, today is Tuesday, so I suppose that's not the reason

[2017-05-24 06:42] karkuspeter opened #81 "Feature request: alert when paper in my library is replaced with new revision"
It would be nice to receive an alert of some form when the authors upload a new revision of the paper i have previously saved in my library.

[2017-05-24 21:45] mkanwal commented on #52
Would people find it useful to have arxiv-sanity also keep track of older papers (from before the project was started)?  The value would be that one could add such papers to their library to better tailor their recommendations.

Not sure how far back arxiv-sanity currently goes...

[2017-05-24 21:48] mkanwal commented on #81
(Point of information: It looks like libraries are sorted by date of most recent revision, so one nice thing is that an updated paper will jump to the top of your library.)

[2017-06-27 06:46] cod3licious opened #83 "Feature suggestion: search by full text similarity"
First of all: I love the web app! I had actually built something similar ([PubVis](https://github.com/cod3licious/pubvis)), when a reviewer made me aware of the arxiv sanity preserver. One feature that I had implemented and that I think from your setup you could probably easily add as well is a search using full text similarity. The idea here is that when you start drafting a paper, you want to ma

[2017-07-04 06:01] yottamoe commented on #33
Hi Moredread, do you still manage the arxiv-sanity-physics website? The link doesn't work at the moment.

[2017-07-06 04:42] zafartahirov opened #85 "Username should not be case sensitive"
If you create a user, say `User` and another one `useR`, and the third one `uSEr`, the website treats them as separate accounts. The behavior is sometimes confusing, and most of the time considered to be a bug (somewhat related: RFC 5321, section 2.3.11).

[2017-07-12 02:51] kirubarajan commented on #85
I'm considering opening a pull request to fix this issue, but what would be done about prior accounts made with duplicate usernames? The options are letting them remain or programmatically altering usernames created after the original (eg. appending digits).

[2017-07-12 06:19] zafartahirov commented on #85
I don't think this is a simple matter -- how many users are affected? If the usernames are changed, how r u going to tell users that their usernames have changed? Some users might have several accounts, because registration and login is currently the same button -- that happened with me, I accidentally typed my username in all caps, and a new user was created. Is it possible to merge those account

[2017-07-12 06:24] kirubarajan commented on #85
You're right, there are a lot of ways to go about this that would require the input of Andrej. I'd be happy to implement sensitive usernames and server-side verification in the meantime.

[2017-07-13 09:50] lykaust15 opened #87 "Feature suggestion: citation information"
Is it possible to provide the citation information? Like the number of citations and cited by which papers. It seems that arxiv itself does not provide these kinds of information and scraping the Google result is needed to realize this feature.

[2017-07-14 05:22] Moredread commented on #33
@yottamoe yeah, somehow my updating script broke in march I think and I have to sync up the database manually. I'll see if I can get it working again next week and will try to set up monitoring so that will not happen again. Sorry, I had very little free time in the last few months. :/

[2017-07-14 17:46] kirk86 opened #88 "Feature request: allow export of bibtex file for citations"
Hi, thanks for this great work. I was wondering if it would be possible to add the ability for the users to export the saved papers in their libraries as bibtex file for later reference. This should be fairly easy to achieve if we utilize the `https://arxiv2bibtex.org`. Basically for each user loop over the papers in their library send their id's one by one to `arxiv2bibtex.org` read the text in t

[2017-08-01 18:09] JLee21 commented on #74
There's a decoding error. So perhaps the default `f.read()` encoding does not work here.
Perhaps try another decoding: https://docs.python.org/3/library/codecs.html#standard-encodings
Or figure out what the byte is: `0x9d`

[2017-08-05 09:31] #77 closed

[2017-08-15 20:57] heytitle commented on #88
If you're using Chrome,  one way that you could do is using  [Zotero](https://www.zotero.org/download/) and Zotero Connector to save papers from `http://www.arxiv-sanity.com/library` to Zotero app and export `bibtex` from there.

[2017-08-16 03:54] shencebebetterme opened #91 "local server connection fails"
Hi,
an error occurs when I run serve.py , something seems wrong with the `.count()` attribute. I commented out the tweets related lines because tweets is blocked by the internet censorship, the relevant codes are like:

[code]

and I get the following output:
[code]

but if I comment out all of the `comments.count()`, `tags_collection.count()`, `goaway_collection.count()`, `follow_collection.count

[2017-08-16 16:37] kirk86 commented on #88
@heytitle thanks for the suggestion but do you have to do it manually i.e. for each paper in the `http://www.arxiv-sanity.com/library` add it to zotero and then export? that would be cumbersome. Is the there a possibility to add all the papers in `http://www.arxiv-sanity.com/library` to zotero library and then export to bibtex?

[2017-08-17 08:14] heytitle commented on #88
I think Zotero extension allows you to do that. For example, I have 3 papers in my library. Once I click Zotero plugin, it will ask which paper I want to add to Zotero.
![image](https://user-images.githubusercontent.com/1214890/29402241-91bb862c-8334-11e7-8dc8-3afa62e79614.png)

[2017-08-17 15:56] kirk86 commented on #88
@heytitle awesome 👍 thanks for letting me know. I'll close this issue since it can be completed with third party tools.

[2017-08-17 15:56] #88 closed

[2017-08-18 07:42] eggie5 commented on #68
switched to new computer and lost my password. wish it had password reset 👍

[2017-08-19 12:46] shencebebetterme commented on #91
Solved!
the reason is that mongodb is not installed, use `brew install mongodb` to install, and launch according to [the correct way to start a mongo service](https://stackoverflow.com/questions/5596521/what-is-the-correct-way-to-start-a-mongod-service-on-linux-os-x)

[2017-08-19 12:46] #91 closed

[2017-09-06 15:55] pinikop opened #92 "Bug in parse_arxiv_url()"
Hi,
Thanks for this great tool.
I'm new here so my my apologies if it's not the place or the way to raise problems.

In arXiv there are 2 forms of unique identifiers. [https://arxiv.org/help/find](url).
The parse_arxiv_url() methods correctly identifies only the new form.

However, with the old form it will skip multiple papers. for example:
[https://arxiv.org/abs/cmp-lg/9808001v1](url)
[https://a

[2017-09-25 16:25] vlad17 opened #94 "Feature Request: support variable font sizes"
To reduce eye strain I use a larger font in Chrome. I can deal without it, but I know of some who cannot. Currently, arxiv-sanity doesn't adjust its banner for text size:

![large-text](https://user-images.githubusercontent.com/5834964/30819340-42691824-a1d3-11e7-8124-f951f8bdd108.png)

Normally, this looks fine:

![medium-font](https://user-images.githubusercontent.com/5834964/30819350-4bb75da0-a

[2017-10-13 13:43] tbmihailov opened #96 "SSL certificate for www.arxiv-sanity.com"
The website www.arxiv-sanity.com does not have an SSL certificate which is disturbing if you want to log in. Even a very cheap certificate is better than nothing. A cheap and legit solution is https://cheapsslsecurity.com/.

[2017-10-23 10:17] l4z41 commented on #96
Just integrate one for free from [Let's Encrypt](https://letsencrypt.org/) via [Certbot](https://certbot.eff.org/)

[2017-10-24 12:28] domschl opened #98 "Feature request: integration with Arxiv Vanity"
[Arxiv Vanity](https://www.arxiv-vanity.com/) does a quite good job rendering most Arxiv-latex to Html. [Arxiv Vanity github](https://github.com/arxiv-vanity/arxiv-vanity).

Also [epub as alternative format](https://github.com/arxiv-vanity/arxiv-vanity/issues/78) (vanity feature request) could be useful for the sanity-library.

[2017-11-08 08:14] domschl commented on #98
See 647d560ffd4a63ade866e45c8c2032f0c5ee803d

[2017-11-22 11:53] Nikerabbit commented on #96
See also #55

[2017-11-28 16:34] vluzko opened #100 "Feature request: tags"
Let users tag papers and filter by tags (within their own library).
It'd be nice to have some sort of distributed / shared tagging as well, but that seems more difficult technically.

[2017-12-08 16:53] Amarchuk opened #101 "Paper missed in search"
Hi,

Just recently found this friendly version of arxiv, really glad about it, so many thanks and ★ from me.

But I am worry about search index - can't find [this](https://arxiv.org/abs/1610.05267) paper from cs.CV and now curious why.

[2018-01-03 04:28] cantordust commented on #96
The hosting provider might provide an option for Let's Encrypt for free (e.g., dreamhost does).

[2018-01-06 09:40] ymping opened #102 "Use "sys.exit()" without "import sys" in thumb_pdf.py line 16"

[2018-01-09 13:29] jm-begon opened #103 "Feature request: corpus similarity"
It would be great to be able to get papers similar to a given corpus of papers.

I see two use cases, hopefully relevant enough for most researchers. The first one is when you are looking for papers on a given topic. As you start adding papers to your list, the suggestions will get noisier. Also, you might not want to go over all your library papers (too long, a same paper can be similar to severa

[2018-01-09 14:57] Randl commented on #57
@karpathy Just want to note that the same thing still happens from time to time (i.e. today), and last week too

[2018-01-22 14:12] mcamplan opened #105 "Download/export personal library"
Hi,
I am wondering if you have any plan to include as feature the possibility to download your own library (bibtex export of some sort). I did not find this feature in the personal page

[2018-01-24 09:36] karelin commented on #105
A workaround is already recommended in another issue: #88

Besides, if you open source of HTML with your library, the whole list of citations is encoded in JSON format in beginning of the file (line 43, begin with `var papers`).

[2018-01-24 09:42] mcamplan commented on #105
Hi,

thanks for the quick reply and to point me to that issue, with the zotero plugin or the json entry it is almost sorted

Thanks again

[2018-01-27 14:12] jackvial commented on #85
A possible solution could be to gradually migrate over to using email as the account identifier. New users would be required to enter their email address and would be sent a verification email, existing users could be prompt on the site that they need to link an email address to their account.

[2018-02-14 02:02] jg-you commented on #52
Any update on this? It would be immensely helpful.

[2018-02-14 08:13] 0bserver07 opened #106 "Add a Paper Queue with GithubURL (no-code without a paper)."

[2018-02-14 08:14] #106 closed

[2018-02-14 08:19] 0bserver07 commented on #106
Wrong repo :/ I was looking for arxiv-vanity

[2018-03-05 20:51] madisonmay opened #107 "Login could redirect to current tab via use of url_param"

[2018-03-06 12:23] zk5580752 opened #108 "Shall we add more topic from arXiv"
This is an awesome project for scientist and engineer, but there are just some of topics in arXiv.
So, can we add more topics, such as cs.Robotics to this server.

[2018-03-18 08:32] RoyiAvital commented on #26
@karpathy ,
When going through lists the `Show Similar` link can't be clicked for "Open in New Tab / Window".

If you click on it you move to the page but you can't `Ctrl + Click` it to open in new tab.
It hurts the ability to keep walking through the list and have side "Jumps".

Thank You.

[2018-03-26 15:22] JohannesAck opened #109 "Slow Updating of Recent papers"
Currently the website lacks 4 days behind the actual arXiv publications.
I'm not sure why that is or what can be done about it, but it would be nice if it was more up to date.

[2018-04-11 03:33] chennakeshava1998 opened #110 "Unable to run serve.py file"
I am using python3. I was able to succesfully run all the files except for serve.py. I getting the following error - pymongo.errors.ServerSelectionTimeoutError: localhost:27017: [Errno 111] Connection refused

I checked at /var/lib/, I do not have mongodb installed. Any idea as to what causes this issue?
The following is the output from the terminal:

/home/chenna/anaconda3/lib/python3.6/site-pack

[2018-04-11 04:00] chennakeshava1998 commented on #110
I was not aware that I had to install and run mongodb in the background. I could resolve this issue after starting mongodb

[2018-04-11 04:00] #110 closed

[2018-05-31 08:17] mcamplan commented on #105
Hi,

I have just noticed that the zotero plugin, but also the json format variable embedded in the source code, are able to export only the paper that are visualized in the page (you obtain the message You hit the limit of number of papers to show in one result). However, there is a limit (up to 200) that can be visualised. This way if your library contains more papers you are not able to export a

[2018-06-29 11:48] bepierre opened #113 "Any plans to make library exportable to a bib file?"
This would be a really useful feature in my opinion.

(Thanks fir the great website I use it all the time.)

[2018-07-02 11:40] #113 closed

[2018-07-03 16:14] malcolmwhat opened #114 "What is the / are there better active fork(s) for this?"
I'm not really sure how to ask this question in any way that is remotely close to appropriate: Is anyone else willing to shamelessly plug their active fork here?

This has been inactive for almost a year and #96 #55 haven't been dealt with which imo is just a darn shame. This application is really cool, don't get me wrong, it would just be great to have basic security vulnerabilities dealt with an

[2018-08-08 21:53] assertpub commented on #114
As requested, one shamelessly plug coming right up.  The website is [https://assert.pub](https://assert.pub).  We track all categories of Arxiv and Biorxiv.  HTTPs is enabled.

We also look for if there is code or data that is backing the paper that is on Github.  If there is, we try and bubble those papers to the top because they are easy for other researchers to cite and build on.

[2018-08-11 02:40] assertpub commented on #108
Shameless plug... if you want all topics on arxiv AND biorxiv check out [https://assert.pub](https://assert.pub).  We also look for if the paper has a repo on Github .  If it does, we then sort the papers by Github metrics.

Check [https://assert.pub](https://assert.pub) out and tell your friends.

[2018-09-04 10:28] vaibhavsingh1993 opened #115 "Filter search types (top recent, top hype etc) with search string"
Currently, there does not seem to be a straightforward way to filter out papers sorted by search type containing a particular search string. So, for example, if I cannot filter out top recent papers containing the string "byzantine fault tolerance". The only way to currently do it is to create a search query of the form:

http://www.arxiv-sanity.com/search?q=fault+tolerance&timefilter=alltime&vfil

[2018-09-06 09:50] vaibhavsingh1993 commented on #114
Please let me know if there are any open source active forks planned for this project. I am running a private fork for Parallel and Distributed Computing, and would be eager to help out.

[2018-09-07 09:49] karelin commented on #114
I would rank the following 3 forks as most active
* https://github.com/dzackgarza/arxiv-sanity-preserver (math)
* https://github.com/arxiv-sanity-hep/arxiv-sanity-preserver (particle physics)
* https://github.com/pepicello/quant-arxiv-sanity-preserver (quantum theory)

[2018-10-02 21:05] chrisfischer opened #117 "Flip color scheme of tabs"
I'm curious if any else feels like the color scheme of the tabs is a bit unintuitive. It seems logical for the selected tab to appear "attached" to the rest of the page, while the unselected ones are shadowed.

Current:
<img width="1097" alt="screen shot 2018-10-02 at 4 57 56 pm" src="https://user-images.githubusercontent.com/8304994/46376761-d48f7200-c664-11e8-9b0a-49f0c2a94ba8.png">

Proposed:
<

[2018-10-10 04:12] pranayaryal opened #118 "Image Magic not authorized errors while running"
While running `python thumb_pdf.py`, was getting "not authorized errors" from image magick.

[2018-10-10 04:13] pranayaryal commented on #118
This link https://stackoverflow.com/questions/42928765/convertnot-authorized-aaaa-error-constitute-c-readimage-453 helped.

[2018-10-18 23:30] lenyabloko opened #119 "Is there a way to edit discussion entries"
I was not able to edit my discussion entry in mobile Chrome. Is there any way to do that?

[2018-10-26 07:20] Randl commented on #79
The issue is present now. Hopefully that can help.

[2018-10-28 13:25] danielegrattarola opened #120 "Recommended papers not showing"
Hi,
the recommendation section of my profile is stuck at Oct. 4th, and i don't see any paper more recent than that.
I have added several papers to the library after Oct. 4th, and I'm sure that new papers came out on Arxiv that should have been caught by the recommender.
Is there any way I can troubleshoot this??

Thanks,
Daniele

[2018-10-28 14:10] karelin commented on #120
As far as I can see, the project stalled after Dr. Karpathy joined Tesla as Head of AI. For some time, it got updates of data, but not fixes, etc. Perhaps, it is necessary to start an official fork.

[2018-10-28 15:45] karpathy commented on #120
I'm sorry guys, I found the issue (update jobs were killed due to too much memory use on my node), scaled up the instance and am recomputing all of the recommendations. They should be updated in a few hours.

Separately, I still maintain arxiv-sanity and have a recurring dream of taking a good weekend to focus on it and put it in a better shape.

[2018-10-28 15:45] #120 closed

[2018-10-28 15:46] karpathy commented on #119
This is not yet possible but could be a future feature.

[2018-10-28 15:46] karpathy commented on #118
Happy to hear you've resolved it, thank you for posting the solution.

[2018-10-28 15:46] #118 closed

[2018-10-28 15:55] karpathy commented on #117
Implemented quite easily with https://github.com/karpathy/arxiv-sanity-preserver/commit/4a2b7db6a0ed16b0740de0aaf0170fbeca331358 , thank you! closing.

[2018-10-28 15:55] #117 closed

[2018-10-29 09:13] danielegrattarola commented on #120
Works perfectly now, thank you so much.

[2018-12-07 21:58] lenyabloko opened #121 "Cant find an arXiv paper"
I can't find this paper arXiv 1802.08773 by name, author or any other way. What am I doing wrong?

[2018-12-11 14:32] wenpenghu opened #122 "Suggestion"
Very good and useful tool for searching papers. I quite like it. Here I have a suggestion for the adaptation of Mendeley web Importer since I found the Mendeley web Importer can download pdf from google scholar with a batch operation but can not download pdf from www.arxiv-sanity.com. Thanks very much for your wonderful work. And very appreciate for new features.

[2018-12-11 19:00] karelin commented on #122
The PDFs are served from arxiv.org, which should be supported by Mendeley

[2018-12-16 10:52] Randl commented on #109
Related issues:

https://github.com/karpathy/arxiv-sanity-preserver/issues/57
https://github.com/karpathy/arxiv-sanity-preserver/issues/72
https://github.com/karpathy/arxiv-sanity-preserver/issues/79

[2019-01-18 00:56] tanaka-jp opened #123 "BUG?"
Please look at the page . (top hype -> Last week)

The top one is paper (Generative Adversarial Networks  6/10/2014) .

[2019-01-28 04:47] #123 closed

[2019-02-02 09:38] svjack opened #124 "Could you reveal the deploy environment of this module in the application ?"
As i see this module deployed with flask. And too many users use it, so
how to fine tune resource allocation and schedule configuration ?
And are their some common suggestion guide to this kinds of applications ?

[2019-03-04 12:59] severinlandolt commented on #73
Absolutley!

[2019-03-18 05:54] rodgzilla opened #125 "Top hype not refreshing"
Hi!

First, I want to thank you for this amazing website.

The top hype does not seem to change anymore, maybe the authentification tokens have expired or something? The last commit to the `twitter_daemon.py` is from march 2017 so that would make sense if the token had an expiration date of 2 years.

[2019-03-22 10:44] rqjdupont commented on #125
I think it's the same for the recommandations.

[2019-03-22 13:20] rodgzilla commented on #125
The last commit is from october :(

Andrej is probably busy with a lot of other things.

That's too bad, Arxiv Sanity is my main way to stay updated with Twitter.

[2019-03-28 10:28] joelyang97 opened #127 "How do I get the previous paper?"
Access to your website is always slow due to the location in my area. I want to get the previous paper and then build your framework on my server. How can I get the papers from previous years through your framework?
I would be very grateful if you can point out the method.
Thank you for sharing such a convenient framework.

[2019-03-29 10:16] #127 closed

[2019-03-29 19:12] karpathy commented on #125
Sorry :( I just had a chance to ssh in and have a look around but can't see anything obviously wrong for both twitter_daemon and the buildsvm. typically i see some weird issue e.g. mongo went down mysteriously and i just restart it, but this time it looks a bit more involved. Bleh! Ok let me see..

[2019-03-29 21:17] karpathy commented on #125
okay i did a reboot and and recomputing everything (eta 16 hours or so). there's some weird memory leak in something i'm using (mongo, or sklearn svms, or something else).

[2019-03-30 17:23] rodgzilla commented on #125
Thanks a lot for taking the time to fix this issue!

[2019-04-02 14:34] madebyollin commented on #114
I've started running a fork for my own use at https://another-arxiv-sanity.site/, since paper recommendations on the main site stopped updating for me (and the lack of https was bugging me as well). I'm not an experienced server admin so use at your own risk, but if your use case is similar to mine it might be helpful.

[2019-04-04 03:24] jsusskin commented on #125
Thanks Andrej for all the awesome work on this service. Note that it seems top recent content has also not been updating for a few days. I’m guessing you know this already but thought I’d post just in case.

[2019-04-06 01:59] accelsao commented on #79
Top recent for `last day` `last 3 days` and `last weeks` are empty , why?

[2019-04-06 03:06] karpathy commented on #79
fixed this just now, the server was backed up. should be recomputing ok now.

[2019-04-08 02:12] michaelklachko commented on #125
Seems like it can't pull anything new since March 28

[2019-04-08 10:17] rodgzilla commented on #125
I've been monitoring the top hype tab for the past few days and the results seem pretty strange. It is updating but the content seems wrong.

For example today (2019-04-08) the top hype papers for the last day are:
- Data science is science's second chance to get causal inference right: A classification of data science tasks (10/9/2018)
- Polynomial Regression As an Alternative to Neural Nets (6/2

[2019-04-08 17:06] michaelklachko commented on #125
Oh, so the hype tab is updating, strange! I guess that's the only thing that's working, everything else has stopped at 8/28.

BTW, it's normal that random people tweet random old papers, that's always been the case. As you zoom out you will see that most "hyped" papers are all very recent though.

[2019-04-23 03:07] qianyizhang commented on #125
it seems the server stops updating new paper since 4/15/2019
perhaps the new donation add on https://arxiv.org/ broke things?

[2019-04-23 08:34] qianyizhang opened #128 "server does not update papers since 4/15/2019"
this is potentially the same issue as  #125.
I just want to stress its urgency

[2019-04-26 06:32] qianyizhang commented on #128
it seems the server starts to crawling papers again.  👍
However, the "top recent" is still showing a blank page in the "Last 3 days" option, I guess its under processing in the background?
I'm tentative to close this thread.
A reassuring explanation  is much appreciated.

[2019-05-25 13:52] Randl commented on #57
After launching a local instance, I've noted that sometimes when I try to update PDFs, arxiv bans me (makes sense given I downloaded order of 100000 papers from there). If this indeed the case, maybe just stopping update if a number of downloads failed and rerunning it in an hour can solve the issue

[2019-06-26 11:31] Wh1teSh4dow commented on #121
Same. I can't find one paper:
https://arxiv.org/abs/1904.08494

Learning 2D to 3D Lifting for Object Detection in 3D for Autonomous Vehicles
Siddharth Srivastava, Frederic Jurie, Gaurav Sharma
(Submitted on 27 Mar 2019)
Subjects: | Computer Vision and Pattern Recognition (cs.CV)

[2019-07-08 22:45] #22 closed

[2019-07-09 09:08] karelin commented on #22
Btw, there is a free API from semanticscholar for backward/forward references, for example it is used by Bibex, https://labs.arxiv.org/projects/bibexplorer, as used at every arXiv page.

Also, there is opencitations project (there is an API and download).

[2019-07-23 07:45] arthtyagi opened #129 "Login Options"
Currently, we have to create a username and a password to create a login credential. I think a Github Login option should be available.

[2019-07-25 21:19] m-legrand commented on #120
Same problem is appearing for me now (recently created account).

[2019-07-25 22:20] karpathy commented on #120
fixing, should be good in ~day

[2019-07-29 09:33] NoelM opened #130 "Providing RSS feeds"
Dear all,

I am looking for RSS feeds from `arxiv-sanity`, but unfortunately it seems that it is not provided. Does this feature sounds good to you? If yes, I can start developing it through a fork.

Regards,
Noël.

[2019-09-11 11:08] hadyelsahar commented on #130
+1 very interested in this, happy to help

[2019-10-02 10:58] emmanuel-deloget commented on #48
Hello,

Sorry to resurect this ticket but I feel it's the right thing to do.

My library have more than 500 papers in it. Unfortunately, I cannot see more than 200 of them (num_results (https://github.com/karpathy/arxiv-sanity-preserver/blob/master/serve.py#L647), as far as I can guess) on the library page; and even if I could, the existing /library route would still limit the number of papers to

[2019-11-20 10:44] ricolike commented on #129
@arthtyagi proposed a really genius idea, and I would like to further recommend that the login status can be "remember"ed for easier use of this wonderful website!

[2019-11-23 10:14] kartik4949 opened #132 "Hi,"

[2019-11-23 10:19] kartik4949 commented on #132
Hi, @karpathy
Thanks for this amazing repo,
I was thinking if i could add a support for searching and resulting all papers related to a specific paper.
i have forked this repo and started the development.
So, im using summaries and paper title to compare using cosine similarity of embedding obtained from INFERSENT by facebookresearch.
any thoughts or changes?
Thanks....

[2019-11-26 15:24] zhaoguangxiang opened #133 "can't find a paper https://arxiv.org/abs/1911.09483"
https://arxiv.org/abs/1911.09483
MUSE: Parallel Multi-Scale Attention for Sequence to Sequence Learning
submitted date: Nov.17
announce date: Nov.22

[2019-12-01 17:13] dreamflasher commented on #130
How's your progress? Would love to see this feature!

[2019-12-03 12:38] NoelM commented on #130
Thanks for your interest! Sadly I was too much busy these last months to develop the RSS feature, then I forget it... But that's cool, it's like a reminder to me 👍

[2019-12-31 14:25] Motorrat opened #134 "Regex for valid IDs doesn't accept valid cond-mat IDs"
https://github.com/karpathy/arxiv-sanity-preserver/blob/7da740d967cbce70cdb792f23eabbda7be8511da/utils.py#L101

For example 0401304v1 is a valid ID of one the papers for cond-mat. It was  downloaded among first articles for condensed matter physics category. (btw, ´--search-query 'cat:physics:cond-mat'´ did not work and I hardcoded 'cat:cond_mat' into the fetch_papers.py)
https://arxiv.org/pdf/con

[2020-01-26 22:40] jasonjmcghee opened #135 ""Could not render: incorrectly formatted pdf" error on every recent paper"
![image](https://user-images.githubusercontent.com/1522149/73142983-9f711500-4049-11ea-9666-5a0e84cec4da.png)

[2020-01-27 00:12] Dabbrivia commented on #58
I can just confirm that after 1000 pdfs downloaded at the initiation arxiv.org bans your IP and you start getting a 403 Forbidden response. This should be addressed if this code to be used on new installation, IMHO.

[2020-01-29 12:06] markus-flicke commented on #135
It appears to me that pdftotext is not working for recent papers anymore. Hence ASP cannot parse PDFs...

[2020-01-29 15:49] black-puppydog commented on #135
so is that a change on the arxiv side (how they build the pdfs) or in the pdftotext version (if that change on the server?)

[2020-02-08 22:18] jasonjmcghee commented on #135
This issue appears to be fixed.

[2020-02-08 22:18] #135 closed

[2020-02-08 23:45] black-puppydog commented on #135
do we know what caused this in the end?

[2020-02-09 01:46] karpathy commented on #135
The issue was with thumbnail generation, `convert` was failing with an error. Had to adjust system configuration files, no code changes. Still slightly mysterious why it happened rather suddenly without any (manual) system update or anything.

[2020-02-09 21:59] black-puppydog commented on #135
you wouldn't happen to be running `unattended-upgrades` or such? :)

[2020-02-14 17:53] mattesko commented on #73
Would be nice to be able to select a range of dates or to start from a current date (like what's done on google scholar).

[2020-03-12 02:47] yanbo-w opened #139 "RSS feed made by Feed43"
No rss feed resource found, so i made by myself using Feed43. Due to the free account limit, each feed only provide 20 papers at once, but i think it is enough.

*TOP 20 in the last week:* https://feed43.com/arxiv_sanity_top_week.xml**
*TOP 20 in the last year:* https://feed43.com/arxiv_sanity_top_year.xml
*TOP 20 in the last month:* https://feed43.com/arxiv_sanity_top_month.xml

[2020-04-20 15:59] okkevdwal commented on #139
@yanbo-w can you share how exactly you created this? I'd like to create a RSS feed of Causal Inference papers specifically, http://www.arxiv-sanity.com/search?q=causal+inference, can you help?

[2020-05-05 07:43] karelin opened #140 "Site refused to connect"
Just received error

This site can’t be reached
www.arxiv-sanity.com refused to connect.
ERR_CONNECTION_REFUSED

[2020-05-05 08:13] karpathy commented on #140
err yeah turns out I ran out of space because the pdfs are so large and everything crashed. I deleted a bunch of stuff and restarted the server, should be back.

[2020-05-19 17:21] al-yakubovich commented on #69
Is it a good idea! It seems that it is easy to do, isn't it?

[2020-05-25 13:36] Jeremiah-England commented on #140
I've been getting a 'took too long to respond' message for a couple weeks... ¯\\\_(ツ)_/¯

[2020-06-01 17:32] jasonjmcghee opened #141 "All recent paper thumbnails getting 404s"
All recent paper thumbnails are getting 404s.

![image](https://user-images.githubusercontent.com/1522149/83436554-e81f4d00-a3f2-11ea-8962-fcc518bcbf6d.png)

[2020-06-01 17:37] nickbytes commented on #114
@assertpub would love to chat about how we could get the site back up and running. Shoot me an email at nick@nickbytes.com

[2020-06-01 19:33] karpathy commented on #114
(I'm also actually in process of rewriting this from scratch, because it's basically unmaintainable. Will SSH in later today to see if i can quick fix again)

[2020-06-01 19:43] nickbytes commented on #114
@karpathy are you the assert.pub creator, or do you know who is?

[2020-06-03 04:26] jasonjmcghee commented on #141
Appears to be resolved.

[2020-06-03 04:26] #141 closed

[2020-06-03 04:55] karpathy commented on #141
I didn't even do anything. That's how much this all needs a rewrite :D

[2020-06-04 11:15] qiuhuaqi commented on #140
Still can't be reached

[2020-06-04 15:09] Jeremiah-England commented on #140
@qiuhuaqi it was working a couple days ago so this might be a different issue...

[2020-06-04 16:31] karpathy commented on #140
fixed

[2020-06-05 05:59] HugangR opened #142 "No such file or directory: 'db2.p'"
Hi

When I run this command
python3 serve.py --prod --port 80

it gives me this error message:

loading the paper database db2.p
Traceback (most recent call last):
  File "serve.py", line 658, in <module>
    db = pickle.load(open(Config.db_serve_path, 'rb'))
FileNotFoundError: [Errno 2] No such file or directory: 'db2.p'

Did I miss any step? Which step is supposed to generate 'db2.p' file? Why i

[2020-06-05 07:53] karelin commented on #142
This file should be generated by `make_cache.py` script.
I'd would advise to check all the code of project before running it: it is about 2000 lines and would take couple of hours to understand all nuts and bolts ;)

[2020-06-06 04:06] HugangR commented on #142
Thank you, it is working now!

[2020-06-06 04:06] #142 closed

[2020-07-01 11:24] stoneyang opened #144 "Site cannot work properly"

[2020-07-02 22:55] imflash217 opened #145 "Would it be acceptable to the team if I redesign and code the UI/UX part of the website?"
Hi,
Thanks for such a great toolkit for us researchers. I still feel that the UI part of the site can be heavily improved for easy accessibility. Would it be acceptable to the team if I redesign and code the UI/UX part of the website? I can file a PR for review after I redesign it. I am asking it before starting the work to make sure that I am thinking in the right direction.
Thanks.

[2020-07-14 03:06] AlexanderCYchu commented on #140
oops, the site refused to connect again.

[2020-07-15 17:45] aschokking commented on #114
I'll plug the ai2 non-profit (where I work)'s https://www.semanticscholar.org/ which now has an adaptive feeds feature inspired by arxiv sanity. Find a paper you'd like to annotate and click 'Launch Research Feed' to get started. Can recommend from _all_ of arxiv and covid specific bio-med at the moment.

[2020-07-25 16:32] MohamedAliRashad commented on #145
@imflash217 attach examples for the design you are thinking

[2020-08-16 10:59] artsobolev commented on #140
@karpathy, arxiv-sanity is down again

[2020-08-28 06:17] Anonymous-so opened #148 "This site can’t be reached"
http://www.arxiv-sanity.com/
ERR_CONNECTION_REFUSED

[2020-08-28 08:08] karpathy commented on #148
server just died for no reason, i restarted it

[2020-08-28 08:08] #148 closed

[2020-08-31 21:00] rodrigo-castellon opened #149 "Browser Extension?"
Hi,
Found out that there is a Google Scholar chrome extension, which lets you search Google Scholar quickly. Is there such a thing but for arxiv-sanity or arxiv in general? I ask this because I keep getting non-arxiv paywalled links to PDFs when I look up papers on Google Scholar.

If not, then I think such an extension could be useful to many. Thanks!

[2020-09-06 11:08] Anonymous-so opened #150 "This site can’t be reached"
Does the server die?

[2020-09-08 07:12] Ahacad commented on #150
Same problem:
[code]

[2020-09-08 16:47] karpathy commented on #150
Yeah so now it's dying because I'm running out of RAM on the machine. I can't simultaneously host and re-compute SVMs for all 121K+ papers. Whole thing needs a refactor, sorry.

[2020-09-08 17:58] dbalabka commented on #150
@karpathy I can provide some help with this. I would like to dig into this project because found it very useful.

[2020-09-24 02:46] THHHomas opened #152 "cannot reach the site"
Cannot reach the site. Any problem?

[2020-09-24 05:45] chaitrasj commented on #152
Yes, I am also unable to reach the site since yesterday..

[2020-09-24 07:24] ryx2 commented on #150
@karpathy I also would love to help with this project; use it all the time, have experience doing document recommendation. Is the current master the version being used to host the site?

[2020-09-24 07:44] ryx2 opened #153 "Willing to donate to keep the site up longer!"
I notice that the site is down frequently, and is right now. I want to help! @karpathy, are you taking sponsors? Also willing to help with code like looking at pull req's, recommendations, or doing infrastructure? Anything.

[2020-10-12 08:26] #109 closed

[2020-10-21 19:33] munael commented on #115
That'd be great! Seems like it might require backend changes though? If there's something (a repo, and a location in the codebase to look at; etc.) we can do to help I can chip in.

[2020-11-23 12:06] vlad-i commented on #140
I'm also getting this now

[2020-11-23 14:20] liar666 commented on #130
I would also be insterrested by RSS feeds!

Meanwhile, have a look at related issue: https://github.com/karpathy/arxiv-sanity-preserver/issues/139

[2020-12-06 00:58] rickdgray commented on #55
It is baffling that nearly 4 years later, this website (which has a full user login system!) is STILL hosted over http. This is a security BASIC. It is security 101. And the fix is literally all of 5 min to generate a free certificate with certbot. If you are not going to use TLS, then you need to disable logging in because it is actively harmful to your users and unfortunately not everyone knows

[2021-01-01 21:30] kaczmarj commented on #114
@karpathy - i'd like to help with the rewrite if possible. where is that being done? all of the branches here (except master) seem stale.

[2021-01-05 15:37] jeetmehta commented on #108
👋 Hey @zk5580752 and @karelin  - my friends and I built [filtr.pub](https://www.filtr.pub) as a fun side project to address some of the missing gaps in Arxiv Sanity Preserver. We gather data from everything in CS and Stat (along with things like citation counts, papers with code, etc.)

If you're interested - please check it out! It's still really early stages but we'd love some feedback :)

[2021-01-05 15:39] jeetmehta commented on #100
👋🏽 Hey @vluzko - my friends and I built [filtr.pub](https://www.filtr.pub/) as a fun side project to address some of the missing gaps in Arxiv Sanity Preserver. We gather data from everything in CS and Stat (along with things like citation counts, papers with code, etc.), and also have additional functionality like search queries, date ranges, following keywords, etc. Tagging is something we're lo

[2021-01-05 15:41] jeetmehta commented on #87
👋🏽 Hey @liyu95  - my friends and I built [filtr.pub](https://www.filtr.pub/) as a fun side project to address some of the missing gaps in Arxiv Sanity Preserver. We gather data from everything in CS and Stat (along with things like citation counts from Google Scholar, papers with code links, etc.), and also have additional functionality like search queries, date ranges, following keywords, etc.

I

[2021-01-05 15:44] jeetmehta commented on #54
👋🏽 Hey @alirsamar - my friends and I built [filtr.pub](https://www.filtr.pub/) as a fun side project to address some of the missing gaps in Arxiv Sanity Preserver. We gather data from everything in CS and Stat (along with things like citation counts from Google Scholar, papers with code links, etc.), and also have additional functionality like search queries, custom date ranges, following custom k

[2021-01-05 15:45] jeetmehta commented on #52
👋🏽 Hey friends - my friends and I built [filtr.pub](https://www.filtr.pub/) as a fun side project to address some of the missing gaps in Arxiv Sanity Preserver. We gather data from everything in CS and Stat (along with things like citation counts from Google Scholar, papers with code links, etc.), and also have additional functionality like search queries, custom date ranges, following custom keyw

[2021-01-05 16:06] alxhotel commented on #52
@jeetmehta please stop the SPAM... thanks...

[2021-01-05 16:21] jeetmehta commented on #52
Will do - sorry! :)

[2021-01-19 16:25] brokenBrain opened #158 "The site is down."
It’s been at least since yesterday. Not sure where else to report it

[2021-02-01 09:01] dpaiton opened #159 "Close acccount"
My Google account has notified me that arxiv-sanity had a data-breach and that my password is no longer secure. Since I have not used the site in years, I decided I should just delete my account rather than changing my password. It seems that I cannot do either. How do I go about removing my account?

Thanks!

[2021-02-01 19:12] alirsamar commented on #54
Hi, @jeetmehta Thank you for inviting me, will look into it for sure.

[2021-02-18 03:38] eungbean commented on #159
agree

[2021-02-20 02:45] anonymouskddsubmission1557 commented on #158
20/2/2021, it is still down

[2021-03-24 11:35] julioasotodv commented on #158
Yup, still down

[2021-04-22 02:40] brush701 opened #161 "Site not updating"
The last pull from arxiv seems to have been on 4/16. Looks like something fell over somewhere...

[2021-04-24 14:56] madebyollin commented on #161
Seems to be fixed now.

I did notice that `pdftotext` on my own AS instance got stalled on [this recent paper](https://arxiv.org/abs/2104.09582) (`parse_pdf_to_text.py` did not have any timeout on the subprocess call, and that paper seemingly never finishes parsing, so it blocked all of `update.sh`).  That might conceivably have been the issue here too - but the paper wasn't posted until 4/19, so

[2021-04-24 23:11] brush701 commented on #161
The main page is working, but I’m pretty sure top hype is still broken

[2021-05-09 10:49] blazejdolicki opened #162 "Website is down"
The website seems to be unreachable, just tried on Chrome and Edge.

[2021-05-09 13:39] blazejdolicki commented on #162
Seems to be back.

[2021-05-09 13:39] #162 closed

[2021-05-19 13:07] manasmacherla opened #165 "Site is down"
Hello

Seems like the site is down, please fix it if you guys have the time.

Thanks

[2021-05-24 15:38] imflash217 commented on #158
still down

[2021-05-24 15:41] imflash217 commented on #165
yeah…still down

[2021-05-24 21:32] Devetec commented on #165
Back up! Someone should make a mirror of it, however.

[2021-06-05 02:36] dend commented on #130
As a stop-gap, I created this: https://github.com/dend/arxiv-sanity-feeds. Should help with tracking some of the key feeds.

[2021-06-13 02:13] Alex-Derhacobian opened #166 "Site is down"
Hey guys,

Just wanted to let you know that the site seems to be down again.

Thanks

[2021-06-13 02:51] dend commented on #166
Can also reproduce on my end. Getting a loading error no matter what browser/device I am using.

[2021-06-14 19:41] Alex-Derhacobian commented on #166
Site is back up

[2021-06-14 19:41] #166 closed

[2021-06-18 17:48] dend opened #167 "HTTPS error when loading the site"
Getting an error when trying to go to https://www.arxiv-sanity.com.

![HTTPS error in a Firefox screenshot](https://user-images.githubusercontent.com/1389609/122599063-9740bd80-d022-11eb-9c8f-d9f8dc0e8411.png)

I recall previously the HTTPS version worked, but not anymore.

[2021-06-18 17:51] dend opened #168 "Top Recent (Weekly) Broken"
http://www.arxiv-sanity.com/top?timefilter=week&vfilter=all

Opening this page returns zero papers:

![Screenshot of the Arxiv Sanity weekly view](https://user-images.githubusercontent.com/1389609/122599342-0f0ee800-d023-11eb-851f-f906fff52705.png)

Last working version seems to have been available on 6/15.

[2021-06-18 23:56] #145 closed

[2021-06-20 05:09] dend commented on #165
Right now seems like the site is not available - browser is endlessly spinning trying to load the page.

[2021-06-20 08:37] karpathy commented on #165
Hah the downloaded pdfs filled the disk to 100% and everything died. Fixed.

[2021-06-20 14:07] Devetec commented on #165
How much disk space does it take up?

[2021-06-22 14:40] timbmg commented on #165
down again

[2021-06-27 12:16] dasayan05 commented on #165
still down .. too much downtime recently
can someone please host it on a reliable server

[2021-06-28 05:36] dend commented on #168
Confirming that this is now working correctly.

[2021-06-28 05:36] #168 closed

[2021-07-03 16:54] prabhuomkar opened #169 "Introducing Skim - A Platform that helps you to skim through papers in this fast moving research world"
[Skim](https://skimhq.tech) is an alternative of Skim with lot of features.

**Introductory Video:**
https://youtu.be/i6cpBQezPSA

**Features**:
- _Charts_: Just like arxiv sanity's top hype section
- _Racks_: Just like Spotify, create a rack (playlist) of papers you like/want to read/work on. You can make a rack private/public.
- _Conferences_: More than 50+ conferences with deadlines, racks of t

[2021-07-03 17:03] prabhuomkar commented on #165
[Skim](https://skimhq.tech) is an alternative to arxiv-sanity with lot of features.

[2021-07-03 17:03] prabhuomkar commented on #158
[Skim](https://skimhq.tech) is an alternative to arxiv-sanity with lot of features.

[2021-07-03 21:06] wx-b commented on #158
Skim appears to be invite only at the moment?

[2021-07-04 02:14] prabhuomkar commented on #158
More information here: #169

[2021-08-02 14:56] golkar commented on #165
Site is down again.

[2021-08-03 22:53] Devetec commented on #165
@karpathy is working on rewriting arxiv-sanity: https://www.reddit.com/r/MachineLearning/comments/obne9p/d_is_arxivsanity_down_what_people_use_these_days/h3q422o/

[2021-08-12 16:13] iperov opened #170 "shutdown the project?"
the site is down very oftern. It is better to close the project.

[2021-08-20 10:17] sarim-zafar commented on #159
@karpathy any update on this?

[2021-08-21 12:19] sugarlemons commented on #170
I can't visit the site today.

[2021-08-28 17:30] Syzygianinfern0 commented on #170
It's back up right now

[2021-09-06 11:01] gipert commented on #169
Hi, thanks for posting, Skim is a very interesting project. Seems to me that only machine-learning-related arXiv fields are currently supported, is that right? Are there plans to support other fields? I would be e.g. interested in physics sub-topics.

[2021-09-06 12:08] prabhuomkar commented on #169
Currently, it supports ML related fields as we are building a lot of read-assist features and totally running on free resources.
Once we have a stable platform we will be expanding it to more fields like physics.

Thank you so much for the interest!

[2021-09-13 02:54] prabhuomkar commented on #165
![20210913_082326](https://user-images.githubusercontent.com/31627958/133017021-ddb7733b-f85b-4d42-9a77-91f6227fe6ad.jpg)

[2021-09-14 16:04] gipert commented on #169
Thanks, sounds great. Is there a timeline for a public release? Is there a way to get project updates?

[2021-10-19 17:12] Syzygianinfern0 commented on #170
@enricoros https://www.reddit.com/r/learnmachinelearning/comments/o7l9sv/how_to_read_more_research_papers/?utm_source=share&utm_medium=web2x&context=3

[2021-10-31 11:00] MohamedAliRashad commented on #170
It's down now

[2021-11-27 10:29] NightMachinary commented on #169
I think you should make the charts page be the homepage; the current homepage that shows conferences seems utterly useless.

[2022-03-18 20:06] EverettGrethel opened #172 "Site is down currently?"
Could the site be made online? I have a lot of saved papers that I need to recover.

[2022-03-22 17:32] kzhang2 opened #173 "Arxiv sanity preserver down permanently?"
Hi,

I noticed that recently `arxiv-sanity.com` now redirects to `arxiv-sanity-lite.com`. Does this mean arxiv-sanity is down permanently? If so, can we have an option to download our data? I had a lot of interesting papers liked that I hadn't had the chance to download before the site was shut down.

[2022-03-22 18:08] karelin commented on #173
IMO, this is important for most of arxiv-sanity users!

[2022-03-24 02:49] HobbitLong commented on #173
I like the "Top Recent" function a lot. Seems I did not find an equivalent in arxiv sanity lite.

[2022-03-24 14:59] karpathy commented on #173
Hi, I will work on the export of previous database in the next few days.
I will plan to also add the "Top Recent" function. I didn't add it so far because it is based on other users' activity, and there were only a few. Will add shortly too!

[2022-03-24 15:05] HobbitLong commented on #173
That would be super wonderful! Thank you for the reply and looking forward to it!

[2022-04-28 02:24] martin6336 commented on #173
Looking forward to the  "Top Recent" function.

[2022-05-19 06:51] Isinlor opened #174 "Missing recent top papers; Is redirect to Arxiv-Sanity Lite intentional?"
First of all, Arxiv Sanity is :fire: . Awesome work.

However, the old arxiv sanity preserver had an option to see the top recent papers.

It was by far the most useful feature of arxiv sanity, but the lite version does not have it.

I just want to ask: was removal of this feature intentional?

[2022-07-30 10:18] Bridingdatpussy69 opened #175 "sex"

[2022-10-09 06:09] #33 closed

[2022-11-03 09:03] ad48 commented on #33
I adapted ASP to content from general relativity a while ago. I included an ORCID OAuth2.0 login so that users would have a bit more security and I think it might have done some personalised recommendations too. https://github.com/ad48/asp The ORCID login might be a useful feature.